* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

// img {
//   -webkit-user-drag: none;
//   -khtml-user-drag: none;
//   -moz-user-drag: none;
//   -o-user-drag: none;
//   //   user-drag: none;
// }

body {
  background-color: linear-gradient(#bccae4, #9b9ca2);
  overflow: hidden;
}
