* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  //   user-drag: none;
}

body {
  //   background: linear-gradient(#bccae4, #9b9ca2);
  overflow: hidden;
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 40px;
  h3 {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  a {
    color: lightskyblue;
  }
}
